.layoutClass{
    min-height: 90vh;
    margin: 3em;
    padding: 1em 2em 2em 2em ;
    background-color: darkred;
    width: calc(100%-6em);
    border-radius: 1em;
}

.layoutClass * {
    color: white;
}